<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Products</title>
</head>
<body>
<h2>Add New Product</h2>
<form th:action="@{/save}" th:object="${product}" method="post">
    Name: <input type="text" th:field="*{name}"/><br><br>
    Price: <input type="number" th:field="*{price}"><br><br>
    Category <input type="text" th:field="*{category}"><br><br>
    <button type="submit">Save</button>
</form>
<hr>
<a href="/display">Display Products</a>
</body>
</html>