<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display Products</title>
</head>
<body>
<h2>All Products</h2>
<!-- Product List Table -->
<table border="1">
    <thead>
    <tr>
        <th>Name</th><th>Price</th><th>Category</th><th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.category}"></td>
        <td>
            <a th:href="@{/edit/{id}(id=${product.id})}">Edit</a> |
            <a th:href="@{'/delete/' + ${product.id}}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<br><br>

<!-- Filter By Category Form -->
<h3>Filtered Products By Category</h3>
<form method="get" action="/category">
    <label>Filter by Category: </label>
    <input type="text" name="category" required />
    <button type="submit">Search</button>
</form><br>

<!-- Filtered Products Table Category-->
<table border="1">
    <thead>
    <tr>
        <th>ID</th><th>Name</th><th>Price</th><th>Category</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.category}"></td>
    </tr>
    </tbody>
</table><br><br>
<hr>

<!-- Filtered Products Table By ID -->
<h2> Filter By Id Form</h2>
<form  action="/findById"  method="get" >
    <label>Filter by ID: </label>
    <input type="text" name="id" required />
    <button type="submit">Search</button>
</form>

<br>
<h3>Filtered Products By ID</h3>
<table border="1">
    <thead>
    <tr>
        <th>ID</th><th>Name</th><th>Price</th><th>Category</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productFindId}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.category}"></td>
    </tr>
    </tbody>
</table>
    <hr>

<br><a href="/add">Add New Product</a>

</body>
</html>
