<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>
<h2>Edit Product</h2>
<form th:action="@{/update}" th:object="${editProduct}" method="post">
    <input type="hidden" th:field="*{id}" /><br><br>
    Name:<input type="text" th:field="*{name}"/><br><br>
    Price:<input type="number" th:field="*{price}"/><br><br>
    Category<input type="text" th:field="*{category}"/><br><br>
    <button type="submit">Update</button>
</form>
<br><a href="/add">Add New Product</a>

</body>
</html>